appdirs
https://github.com/ShreeContent/series/archive/refs/heads/master.zip
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
js2py
lk21
lxml
megasdkrestclient
psutil
pybase64
hachoir
pillow
filesplit
https://github.com/ShreeContent/anshut-cli/archive/refs/heads/master.zip
cfscrape
pyrogram==1.4.16
python-dotenv
python-magic
python-telegram-bot
requests
telegraph
tenacity
TgCrypto
https://github.com/ShreeContent/shanti-rl/archive/refs/heads/master.zip
